* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* font-family: "Lilita One", sans-serif; */
	font-family: "Raleway", sans-serif;
	scroll-behavior: smooth;
	text-decoration: none;
}

:root {
	--bg-color-: #03080f;
	--color1-: #149ddd;
	--color2-: #fff;
	--color3-: #000;
	--head-bg1: #0e14146e;
	--head-bg2: #0c0e0e5e;
	--img-: url(img/back.jpeg);
	--bg-color1-: #040a11;
	--color-: #149ddd;

}

.darktheme {
	--bg-color-: #f5f8fd;
	--color1-: #149ddd;
	--color2-: #000;
	--color3-: #fff;
	--head-bg1: transparent;
	--head-bg2: transparent;
	--img-: url(img/back1.jpg);
	--bg-color1-: #f5f8fd;
	--color-: #000;

}

/* .circle{
	content: "";
    border: 13px solid var(--color1-);
    border-radius: 50%;
    width: 395px;
    height: 416px;
    position: absolute;
    left: 454px;
    top: -108px;
} */


@media(min-width:320px) {

	/* start of header section */


	.header {

		background-color: #040b14;
		position: fixed;
		top: 0;
		left: -100%;
		right: 20px;
		bottom: 0;
		z-index: 9997;
		width: 60%;
		padding: 0 15px;
		visibility: visible;
		opacity: 1;
		transition: ease all 1s;
		overflow-y: auto;
	}
	.icons {
		margin: 7px 55px;
	}
	#dark {
		position: fixed;
		top: 62px;
		right: 5px;
		border: 1px solid var(--color2-);
		border-radius: 50%;
		background-color: var(--color2-);
		color: var(--color3-);
		font-size: 26px;
		width: 44px;
		height: 44px;
		padding: 6px 9px;
		cursor: pointer;
		display: block;
		z-index: 3;
	}

	#light {
		position: fixed;
		top: 62px;
		right: 5px;
		border: 1px solid var(--color2-);
		border-radius: 50%;
		background-color: var(--color2-);
		color: var(--color1-);
		font-size: 26px;
		width: 44px;
		cursor: pointer;
		display: none;
		padding: 6px 9px;
		z-index: 3;

	}

	.darklight #dark {
		display: none;
	}

	.darklight #light {
		display: block;
	}


	.active .header {
		left: 0;
		transition: ease all 1s;

	}

	#closemenu {
		position: fixed;
		right: 0;
		top: 3px;
		font-size: 53px;
		color: var(--color-);
		z-index: 2;
		display: none;
	}

	#openmenu {
		display: block;
	}

	.active #closemenu {
		display: block;
	}

	.active #openmenu {
		display: none;
	}

	.burger-btn {
		display: inline-flex;
	}

	.close-icon {
		display: inline-flex;
		z-index: 9999;
		transition: all .7s ease;
	}

	#check:checked~.header {
		left: 0;
	}

	#check:checked~label .close-icon {
		left: 202px;
	}

	/* end of header section */


	/* start of home section */
	.home-sec {
		background: linear-gradient(var(--head-bg1), var(--head-bg2)), var(--img-) no-repeat center right;
		height: 100vh;
		background-size: cover;
		width: 100%;
		background-position: top right;
		background-attachment: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.home-col span {
		color: var(--color1-);
	}

	/* .home-col {
		position: absolute;
		top: 208px;
		left: 41px;
		right: 0;
	} */

	

	.home-col p {
		color: var(--color2-);
		margin-bottom: 50px;
		font-size: 27px;
		font-family: "Poppins", sans-serif;
		letter-spacing: 1px;
	}


	/* end of header section */


	/* start of about section */
	.about-title h1::after {
		content: "";
		width: 40px;
		height: 3px;
		display: block;
		background-color: var(--color1-);
		margin: 6px 151px;
	}

	.about-container {
		padding-left: 0;
		padding-right: 0;
		width: 90%;
		margin: auto;
	}

	.about-sec {
		overflow: hidden;
		width: 100%;
		margin-left: 0;
		margin-top: 0;
		padding: 38px 0;
		background-color: var(--bg-color-);
	}

	.cont-col2 button {
		all: unset;
        margin: 12px 86px;
        text-align: center;
        border: 1px solid #149ddd;
        padding: 12px 35px;
        font-size: 15px;
        font-weight: 700;
        color: #fff;
	}

	.about-col-1 {
		width: 100%;
	}

	.about-col-2 {
		width: 100%;
		padding-left: 0;
	}

	.about-row {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
	}

	.details {
		display: block;

	}

	.openicon {
		position: relative;
	}

	#openmenu {
		position: fixed;
		right: 0;
		top: 3px;
		font-size: 53px;
		color: var(--color1-);
		z-index: 2;
	}

	/* end of about section */


	/* start of skill section */
	.skill-container {
		padding-left: 0;
		padding-right: 0;
		width: 90%;
		margin: auto;
	}

	.skill-sec {
		color: var(--color2-);
		overflow: hidden;
		width: 100%;
		margin-left: 0;
		margin-top: 0;
		padding: 38px 0;
		background-color: var(--bg-color-);
	}

	.resume-sec {
		color: #272829;
		line-height: 1.5;
		background-color: var(--bg-color-);
	}

	.skill-row {
		display: flex;
		flex-wrap: wrap;
		margin: 20px 0;
	}

	.skill-col {
		width: 100%;
		margin: 7px;
	}

	/* end of skill section */

	/* start of personal detail section */

	.resume-container {
		padding-left: 34px;
		padding-right: 0;
		width: 90%;
	}

	.resume-title h1::after {
		content: "";
		width: 40px;
		height: 3px;
		display: block;
		background-color: var(--color1-);
		margin: 6px 128px;

	}

	.resume-sec {
		width: 100%;
		margin-left: 0;
		margin-top: 0px;
	}

	.resume-row {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.resume-col {
		width: 100%;
	}

	/* end of personal detail section */


	/* start of project work section */

	.gal-sec {
		margin: 0;
		width: 100%;
		margin-left: 0;
		background-color: var(--bg-color-);
		padding: 39px 0 0 0;

	}

	.gal-container {
		padding-left: 0;
		padding-right: 0;
		width: 90%;
		margin: auto;
	}

	.gal-colum {
		width: 100%;
	}

	.gal-title h1::after {
		content: "";
		width: 40px;
		height: 3px;
		display: block;
		background-color: var(--color1-);
		margin: 6px 151px;
	}

	.con-title h1::after {
		content: "";
		width: 40px;
		height: 3px;
		display: block;
		background-color: var(--color1-);
		margin: 6px 151px;
	}

	/* end of project work section */


	/* start of contact section */

	.con-sec {
		background-color: var(--bg-color-);
		color: var(--color2-);
		width: 100%;
		margin: 0 0px;
		padding-left: 0px;
        padding-right: 0px;
	}

	

	.cont-row{
		display: flex;
		flex-wrap: wrap;
		border: 1px solid #040b14;
		box-shadow: 0 0 10px #fff;
		background-color: #040b14;
	    padding: 12px;
		width: 100%;
	
	}
	.cont-col1{
		width: 100%;
	}
	.cont-col2{
		width: 100%;
	}

	.cont-col2 input {
		width: 96%;
		margin: 4px;
		height: 46px;
		padding: 15px;
		outline-color: #149ddd;
	}
	
	.cont-col2 textarea {
		margin: 5px;
		padding: 12px;
		width: 96%;
		height: 158px;
		outline-color: #149ddd;
	}
	.home-col h1 {
		font-size: 37px;
		font-weight: 900;
		color: var(--color2-);
		font-family: "Raleway", sans-serif;
	}
	
	/* end of contact section */

}


@media(min-width:720px) {

	.header {
		background-color: #040b14;
		position: fixed;
		top: 0;
		left: -100%;
		right: 20px;
		bottom: 0;
		z-index: 9997;
		width: 60%;
		padding: 0 15px;
		visibility: visible;
		opacity: 1;
		overflow-y: auto;
		transition: ease all 1s;

	}
	#dark {
		position: fixed;
		top: 12px;
		right: 12px;
		border: 1px solid var(--color2-);
		border-radius: 50%;
		background-color: var(--color2-);
		color: var(--color3-);
		font-size: 26px;
		width: 44px;
		height: 44px;
		padding: 6px 9px;
		cursor: pointer;
		display: block;
		z-index: 3;
	}

	#light {
		position: fixed;
		top: 12px;
		right: 12px;
		border: 1px solid var(--color2-);
		border-radius: 50%;
		background-color: var(--color2-);
		color: var(--color1-);
		font-size: 26px;
		width: 44px;
		cursor: pointer;
		display: none;
		padding: 6px 9px;
		z-index: 3;

	}

	.darklight #dark {
		display: none;
	}

	.darklight #light {
		display: block;
	}


	.active .header {
		left: 0;
		transition: ease all 1s;
	}

	#closemenu {
		position: fixed;
		right: 0;
		top: 3px;
		font-size: 53px;
		color: var(--color1-);
		z-index: 2;
		display: none;
	}

	#openmenu {
		display: block;
	}

	.active #closemenu {
		display: block;
	}

	.active #openmenu {
		display: none;
	}

	.burger-btn {
		display: inline-flex;
	}

	.close-icon {
		display: inline-flex;
		z-index: 9999;
		transition: all .7s ease;
	}

	#check:checked~.header {
		left: 0;
	}

	#check:checked~label .close-icon {
		left: 202px;
	}

	/* end of header section */


	/* start of home section */
	.home-sec {
		background: linear-gradient(var(--head-bg1), var(--head-bg2)), var(--img-) no-repeat center right;
		height: 100vh;
		background-size: cover;
		width: 100%;
		background-position: top right;
		background-attachment: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/* .home-col {
		position: absolute;
		top: 208px;
		left: 41px;
		right: 0;
	} */

	
	
	.home-col span {
		color: var(--color1-);
	}

	.home-col p {
		color: var(--color2-);
		margin-bottom: 50px;
		font-size: 27px;
		font-family: "Poppins", sans-serif;
		letter-spacing: 1px;
	}


	/* end of header section */


	/* start of about section */
	.about-title h1::after {
		content: "";
		width: 40px;
		height: 3px;
		display: block;
		background-color: var(--color1-);
		margin: 6px 151px;
	}

	.about-container {
		padding-left: 0;
		padding-right: 0;
		width: 90%;
		margin: auto;
	}

	.about-sec {
		overflow: hidden;
		width: 100%;
		margin-left: 0;
		margin-top: 0;
		padding: 38px 0;
		background-color: var(--bg-color-);
	}


	.about-col-1 {
		width: 100%;
	}

	.about-col-2 {
		width: 100%;
		padding-left: 0;
	}

	.about-row {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
	}

	.details {
		display: block;

	}

	.openicon {
		position: relative;
	}

	#openmenu {
		position: fixed;
		right: 0;
		top: 3px;
		font-size: 53px;
		color: var(--color1-);
		z-index: 2;
	}

	/* end of about section */


	/* start of skill section */
	.skill-container {
		padding-left: 0;
		padding-right: 0;
		width: 90%;
		margin: auto;
	}

	.skill-sec {
		color: var(--color2-);
		overflow: hidden;
		width: 100%;
		margin-left: 0;
		margin-top: 0;
		padding: 38px 0;
		background-color: var(--bg-color-);
	}
	.icons {
		margin: 7px 89px;
	}
	
	.resume-sec {
		color: #272829;
		line-height: 1.5;
		background-color: var(--bg-color-);
	}

	.skill-row {
		display: flex;
		flex-wrap: wrap;
		margin: 20px 0;
	}

	.skill-col {
		width: 100%;
		margin: 7px;
	}

	/* end of skill section */

	/* start of personal detail section */

	.resume-container {
		padding-left: 34px;
		padding-right: 0;
		width: 90%;
	}

	.resume-title h1::after {
		content: "";
		width: 40px;
		height: 3px;
		display: block;
		background-color: var(--color1-);
		margin: 6px 128px;

	}

	.resume-sec {
		width: 100%;
		margin-left: 0;
		margin-top: 0px;
	}

	.resume-row {
		display: flex;
		flex-wrap: wrap;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.resume-col {
		width: 100%;
	}
	.cont-col2 button {
		all: unset;
		margin: 21px 311px;
		text-align: center;
		border: 1px solid #149ddd;
		padding: 12px 35px;
		font-size: 15px;
		font-weight: 700;
		color: #fff;
	}

	/* end of personal detail section */


	/* start of project work section */

	.gal-sec {
		margin: 0;
		width: 100%;
		margin-left: 0;
		background-color: var(--bg-color-);
		padding: 39px 0 0 0;

	}

	.gal-container {
		padding-left: 0;
		padding-right: 0;
		width: 90%;
		margin: auto;
	}

	.gal-colum {
		width: 100%;
	}

	.gal-title h1::after {
		content: "";
		width: 40px;
		height: 3px;
		display: block;
		background-color: var(--color1-);
		margin: 6px 151px;
	}

	.con-title h1::after {
		content: "";
		width: 40px;
		height: 3px;
		display: block;
		background-color: var(--color1-);
		margin: 6px 151px;
	}
	.home-col h1 {
		font-size: 62px;
		font-weight: 900;
		color: var(--color2-);
		font-family: "Raleway", sans-serif;
	}

	/* end of project work section */

	/* start of contact section */

	.con-sec {
		background-color: var(--bg-color-);
		color: var(--color2-);
		width: 100%;
		margin: 0 0px;
		padding-left:0;
	}

	
.cont-row{
	display: flex;
	flex-wrap: wrap;
    border: 1px solid #040b14;
    box-shadow: 0 0 10px #fff;
    background-color: #040b14;
}
.cont-col1{
	width: 100%;
}
.cont-col2{
	width: 100%;
}
.cont-col2 input {
	width: 94%;
	margin: 12px;
	height: 46px;
	padding: 15px;
	outline-color: #149ddd;
}

.cont-col2 textarea {
	margin: 12px;
	padding: 12px;
	width: 94%;
	height: 158px;
	outline-color: #149ddd;
}


	/* end of contact section */
}


@media(min-width:1000px) {

	/* start of header section */

	.burger-btn {
		display: none;
	}

	.openicon {
		display: none;
	}

	.header {
		background-color: #040b14;
		position: fixed;
		top: 0;
		left: 0;
		right: 20px;
		bottom: 0;
		z-index: 9997;
		width: 22%;
		height: 100vh;
		padding: 0 15px;
		visibility: visible;
		opacity: 1;
		overflow-y: auto;
	}

	/* end of header section */



	/* start of home section */


	.home-sec {
		background: linear-gradient(var(--head-bg1), var(--head-bg2)), var(--img-) no-repeat center right;
		height: 100vh;
		background-size: cover;
		width: 100%;
		background-attachment: fixed;

	}


	/* .home-col {

		position: absolute;
		top: 222px;
		left: 444px;
		right: 0;
	} */
	.icons {
		margin: 7px 89px;
	}
	
	

	
	.home-col span {
		color: var(--color1-);
	}

	/* end of header section */

	/* start of about section */

	.about-container {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%;
		margin: auto;
	}

	.about-sec {
		background-color: var(--bg-color-);
		overflow: hidden;
		width: 100%;
		padding-left: 297px;

	}

	.about-col-1 {
		width: 40%;
	}

	.about-col-2 {
		width: 60%;
		padding-left: 23px;
	}

	.about-row {
		margin: 23px 0;
		display: flex;
		align-items: center;
	}

	.details {
		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	#dark {
		position: fixed;
		top: 12px;
		right: 12px;
		border: 1px solid var(--color2-);
		border-radius: 50%;
		background-color: var(--color2-);
		color: var(--color3-);
		font-size: 26px;
		width: 44px;
		height: 44px;
		padding: 6px 9px;
		cursor: pointer;
		display: block;
		z-index: 3;
	}

	#light {
		position: fixed;
		top: 12px;
		right: 12px;
		border: 1px solid var(--color2-);
		border-radius: 50%;
		background-color: var(--color2-);
		color: var(--color1-);
		font-size: 26px;
		width: 44px;
		cursor: pointer;
		display: none;
		padding: 6px 9px;
		z-index: 3;

	}

	.darklight #dark {
		display: none;
	}

	.darklight #light {
		display: block;
	}




	/* end of about section */



	/* start of skill section */

	.skill-container {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%;
		margin: auto;
	}

	.skill-sec {
		width: 100%;
		padding-left: 297px;
		background-color: var(--bg-color-);
		color: var(--color2-);
	}

	.resume-sec {
		color: #272829;
		line-height: 1.5;
		background-color: var(--bg-color-);
	}

	.skill-row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 0;

	}

	.skill-col {
		width: 33.3%;
		margin: 0px;
	}

	/* end of skill section */

	/* start of personal detail section */

	.resume-container {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%;
		margin: auto;
	}

	.resume-sec {
		width: 100%;
		padding-left: 297px;
	}

	.resume-row {
		display: flex;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.resume-col {
		width: 50%;
	}

	/* end of personal detail section */

	/* start of project work section */

	.gal-sec {
		width: 100%;
		padding-left: 297px;
		background-color: var(--bg-color-);
	}

	.gal-container {
		padding-left: 30px;
		padding-right: 30px;
		width: 100%;
		margin: auto;
	}

	.gal-colum {
		width: 33.3%;
	}
	.cont-col2 button {
		all: unset;
		margin: 21px 122px;
		text-align: center;
		border: 1px solid #149ddd;
		padding: 12px 35px;
		font-size: 15px;
		font-weight: 700;
		color: #fff;
	}

	/* end of project work section */

	.about-title h1::after {
		content: "";
		width: 40px;
		height: 3px;
		display: block;
		background-color: var(--color1-);
		margin: 6px 510px;
	}

	.resume-title h1::after {
		content: "";
		width: 40px;
		height: 3px;
		display: block;
		background-color: var(--color1-);
		margin: 6px 477px;

	}

	.con-title h1::after {
		content: "";
		width: 40px;
		height: 3px;
		display: block;
		background-color: var(--color1-);
		margin: 6px 477px;

	}

	.gal-title h1::after {
		content: "";
		width: 40px;
		height: 3px;
		display: block;
		background-color: var(--color1-);
		margin: 6px 477px;
	}

	/* start of contact section */

	.con-sec {
		background-color: var(--bg-color-);
        color: var(--color2-);
        width: 100%;
		padding-left: 320px;
        padding-right: 115px;
		padding-bottom: 73px;
	}
    

	.cont-row {
		display: flex;
		flex-wrap: nowrap;
		border: 1px solid #040b14;
		box-shadow: 0 0 10px #fff;
		background-color: #040b14;
		
	}

	.cont-col1 {
		width: 50%;
	}

	.cont-col2 {
		width: 50%;
	}
	.cont-col2 input {
		width: 93%;
		margin: 12px;
		height: 46px;
		padding: 15px;
		outline-color: #149ddd;
	}
	
	.cont-col2 textarea {
		margin: 12px;
		padding: 12px;
		width: 93%;
		height: 158px;
		outline-color: #149ddd;
	}
	.home-col h1 {
		font-size: 62px;
		font-weight: 900;
		color: var(--color2-);
		font-family: "Raleway", sans-serif;
	}

	/* end of contact section */
}



.home-row {
	position: relative;
}


/* start of header section */

.icons {
	display: flex;
}

.img img {
	width: 131px;
	height: 131px;
	border: 6px solid #2c2f3f;
	border-radius: 50%;
	margin: 13px auto;
	object-fit: cover;
	display: block;
}
.home-col h2 {
	color: var(--color2-);
	margin-bottom: 50px;
	font-size: 26px;
	font-family: "Poppins", sans-serif;
	letter-spacing: 1px;
}

ul li a {
	text-decoration: none;
	font-size: 15px;
	color: #4e4e4e;

}

ul li a i {
	text-decoration: none;
	color: #a8a9b4;
	font-size: 15px;
}

ul li a i {
	font-size: 22px;
	margin: 0 13px;
}


.nav ul li .active i {
	color: var(--color1-);
}

.nav ul li .active span {
	color: var(--color2-);
}



.nav ul li {
	padding: 18px 0;
	list-style-type: none;
}

.imgg {
	max-width: 100%;
	height: auto;

}

.img h2 {
	color: #fff;
	text-align: center;
}


.nav {
	margin: 16px 10px;
}

.icons span {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
	text-align: center;
	color: var(--color2-);
	font-size: 17px;
	margin: 4px;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	line-height: 2.3;
	background: #212431;
}


.icons span a {
	text-decoration: none;
	color: grey;
}

.icons span:hover {
	background-color: var(--color1-);
	cursor: pointer;
	transition: 0.3s;
}

.icons span:hover i {
	color: var(--color2-);

}


.nav ul li svg {
	color: #a8a9b4;
	font-size: 22px;
	float: left;
	margin-right: 10px;
}

.copyright {
	text-align: center;
	color: var(--color1-);
	font-size: 13px;
	line-height: 1.7;
	margin-top: 57px;
}

.copyright a {
	color: var(--color1-);
	text-decoration: none;
}



.burger-btn {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: var(--color1-);
	font-size: 31px;
	border-radius: 50%;
	margin: 12px;
	cursor: pointer;
	border: 0;
}

.close-icon {
	position: fixed;
	top: 0;
	left: -534px;
	display: none;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: var(--color1-);
	font-size: 31px;
	border-radius: 50%;
	margin: 12px;
	cursor: pointer;
	border: 0;
}

#check {
	display: none;
}



/* end of header section */


/* start of about section */

.about-title h1 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 39px;
	color: var(--color2-);
	font-family: "Raleway", sans-serif;
	text-align: center;
	text-shadow: 0 3px 3px var(--color-);

}

.cv-btn {
	all: unset;
}

.cv-btn a {
	text-decoration: none;
	color: var(--color2-);
	position: relative;
	text-align: center;
	font-weight: 600;
	z-index: 7;
	text-transform: uppercase;
}

.cv-btn {
	width: 128px;
	padding: 15px;
	border: 2px solid #149ddd;
	position: relative;
	display: block;
	background-color: transparent;
	box-shadow: 0 0 4px #149ddd;
}

.cv-btn::after {
	content: "";
	display: block;
	background-color: #149ddd;
	width: 0;
	position: absolute;
	height: 49px;
	transition: 0.4s ease all;
	left: 0;
	top: 0px;
	z-index: -1;
}

.cv-btn:hover::after {
	width: 158px;
	transition: 0.4s ease all;
	z-index: 2;
}

.about-title p {
	margin-top: 20px;
	font-family: "Open Sans", sans-serif;
	color: #272829;
	line-height: 1.5;
}

.about-col-1 img {
	width: 87%;
	height: 100%;
	border: 3px solid var(--color1-);
	box-shadow: 0 0 10px var(--color2-);
	border-radius: 50%;
	transition: ease all 1s;

}


.about-col-1 img:hover {
	border: 3px solid var(--color1-);
	box-shadow: 0 0 10px var(--color2-);
	transform: scale(1.1);
	transition: ease all 1s;
}



.details span {
	font-weight: 700;
}

.para h1 {
	color: #173b6c;
	margin-bottom: 12px;
	font-family: "Raleway", sans-serif;
}

.para1 p {
	margin-top: 13px;
	line-height: 1.3;
	color: var(--color2-);
	/* font-family: "Open Sans", sans-serif; */
	line-height: 1.7;
	font-size: 20px;
	font-family: "Kanit", sans-serif;
}

.about-col-2 ul li svg {
	font-size: 16px;
	margin-right: 5px;
	color: var(--color1-);
	line-height: 0;
}

.about-col-2 ul {
	list-style-type: none;
	padding: 0;
}

.about-col-2 ul li {
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: "Open Sans", sans-serif;
	color: #272829;
}

/* end of about section */


/* start of skill section */

.skill-row p {
	font-weight: 800;
	font-size: 13px;

}

.skill-title p {
	color: #272829;
	line-height: 1.5;
}

.skill-title h1 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 9px;
	color: var(--color2-);
	font-family: "Raleway", sans-serif;
	text-align: center;
	text-shadow: 0 3px 3px var(--color-);
}

.skill-title h1::after {
	content: "";
	width: 40px;
	height: 3px;
	display: block;
	background-color: var(--color1-);
	margin: 6px 477px;

}

.skill-card {
	display: grid;
	place-items: center;
	height: 100%;
	background-color: #101215;
	margin: 12px;
	padding: 14px
}

.skill-card:hover {
	transform: translateY(-10px);
	transition: 1s ease all;
	box-shadow: 0 0 10px var(--color1-);
}

.skill-card h4 {
	padding: 10px;
	color: #fff;
}

.skill-card h4:hover {
	color: var(--color1-);
	transition: ease all 1s;

}

.circular-progress1 {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: conic-gradient(var(--color1-) 338deg, #e8dada 0deg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.circular-progress2 {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: conic-gradient(var(--color1-) 310deg, #e8dada 0deg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.circular-progress3 {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: conic-gradient(#149ddd 289deg, #e8dada 0deg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.circular-progress4 {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: conic-gradient(#149ddd 307deg, #e8dada 0deg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.circular-progress5 {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: conic-gradient(#149ddd 279deg, #e8dada 0deg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.progress-value {
	position: absolute;
	display: flex;
	background-color: #fff;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	align-items: center;
	color: #000;
	justify-content: center;
}

.skill-card img {
	width: 63px;
	mix-blend-mode: difference;
}

.svg {
	width: 200px;
	height: 200px;
}

.bg {
	stroke: #4e4e4e;
	stroke-dashoffset: calc(300 * 98);
}

.meter {
	stroke: var(--color1-);
	stroke-dashoffset: 300px;
	stroke-dasharray: 300px;
}

.skill-box {
	position: relative;
	width: 100%;
	height: 10px;
	background-color: var(--color2-);
	margin: 17px;
}

.skill-row .skill-col .skill-box .skill-per {
	position: absolute;
	top: 0%;
	left: 0%;
	bottom: 0;
	height: 100%;
	background-color: var(--color1-);
}

.skill {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 17px;
}


/* end of skill section */


/* start of personal detail section */


.education {
	margin: 8px 0;
}

.resume-title h1 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 42px 0;
	color: var(--color2-);
	font-family: "Raleway", sans-serif;
	text-align: center;
	text-shadow: 0 3px 3px var(--color-);
}

.con-title h1 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 42px 0;
	color: var(--color2-);
	font-family: "Raleway", sans-serif;
	text-align: center;
	text-shadow: 0 3px 3px var(--color-);
}


.resume-col h1 {
	margin-bottom: 12px;
}

.head {
	color: var(--color1-);
}

.summary {
	padding: 0 0 0 20px;
	margin-top: -2px;
	border-left: 2px solid #1f5297;
	position: relative;
}


.summary::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -10px;
	top: 0;
	background: var(--color2-);
	border: 2px solid #1f5297;
}

.education-1 {
	padding: 0 0 4px 20px;
	margin-top: -2px;
	border-left: 2px solid #1f5297;
	position: relative;
}

.education-2 {
	padding: 0 0 0 20px;
	margin-top: -2px;
	border-left: 2px solid #1f5297;
	position: relative;
}

.education-1::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -10px;
	top: 0;
	background: var(--color2-);
	border: 2px solid #1f5297;

}

.education-2::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -10px;
	top: 0;
	background: var(--color2-);
	border: 2px solid #1f5297;
}

.profession-1 {
	padding: 0 0 4px 20px;
	margin-top: -2px;
	border-left: 2px solid #1f5297;
	position: relative;
}

.profession-2 {
	padding: 0 0 0 20px;
	margin-top: -2px;
	border-left: 2px solid #1f5297;
	position: relative;
}

.profession-1::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -10px;
	top: 0;
	background: var(--color2-);
	border: 2px solid #1f5297;
}

.profession-2::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -10px;
	top: 0;
	background: var(--color2-);
	border: 2px solid #1f5297;
}

.summary p {
	margin-bottom: 12px;
	margin-top: 12px;
}

.summary ul li {
	margin: 21px;
}

.resume-row .year {
	font-size: 16px;
	background: #e4edf9;
	padding: 5px 15px;
	display: inline-block;
	font-weight: 600;
	margin: 12px 0;
}

.resume-row p {
	color: var(--color2-);
}

.placedetail {
	margin: 11px 0 47px;

}

.profession-1 h4 {
	margin-bottom: 12px;
}

.profession-1 ul li {
	margin: 21px;
}

.profession-2 ul li {
	margin: 21px;
}

/* end of personal detail section */

/* start of project works section */

.gal-row1 ul {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	background-color: var(--color2-);
	border-radius: 15px;
	margin: 20px 0 20px;
	font-weight: 700;
}

.gal-row1 {
	text-align: center;
}

.gal-title p {
	color: #272829;
	line-height: 1.5;
}

.gal-title h2 {
	font-family: 'Kanit', sans-serif;
	font-size: 35px;

}

.gal-item img {
	width: 100%;
	vertical-align: middle;
}

.gal-title h1 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 39px;
	color: var(--color2-);
	font-family: "Raleway", sans-serif;
	text-align: center;
	text-shadow: 0 3px 3px var(--color-);
}



.gal-row1 a {
	text-decoration: none;
	color: #000;
	padding: 10px;
}

.gal-row1 a:hover {
	color: var(--color1-);
}

.gal-row1 li {
	padding: 10px;

}

.gal-row2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.gal-card {
	padding: 12px;
}

.gal-item {
	position: relative;
	overflow: hidden;

}

.gal-colum .gal-card .gal-item:hover .portfolio-icon {
	bottom: 60px;
}

.portfolio-info i {
	color: #F4D03F;
	font-size: 35px;
}

/* 
.gal-colum .gal-card .gal-item .portfolio-icon {
	position: absolute;
	background-color: #00000066;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transition: 1s all ease;

} */

.gal-item:hover img {
	transform: scale(1.1);
}

.gal-item img {
	transition: 1s all ease;
}

.gal-colum .gal-card {
	transition: 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;

}

.gal-title,
.about-title,
.resume-title,
.skill-title,
.con-title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.portfolio-icon a svg {
	margin-top: 12px;
}

.gal-colum .gal-card .gal-item .portfolio-icon {
	color: var(--color2-);
	font-size: 28px;
	text-align: center;
	background: rgba(20, 157, 221, 0.75);
	transition: 0.3s;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	position: absolute;
	bottom: -1000px;
	transition: 1s ease all;

}

.gal-colum .gal-card .gal-item:hover .portfolio-icon {
	z-index: 3;
	bottom: 0;
	transform: translate(-10px 10px);
	transition: 1s ease all;

}

.portfolio-icon p {
	font-size: 18px;
	margin: 0;
}

.portfolio-icon h4 {
	font-size: 19px;
}

/* end of project works section */

/* start of contact section */





.cont-col2 button:hover {
	background-color: #149ddd;
	transition: 0.4s ease all;
}

.cont-icons {
	margin: 46px 8px 46px 0px;
	display: flex;
	align-items: center;
	gap: 7%;

}

.cont-icons i {
	width: 44px;
	height: 44px;
	font-size: 18px;
	border: 1px solid #149ddd;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff
}

.cont-icons i:hover {
	background-color: #149ddd;
	transition: 1s ease all;
}

.cont-col1 h3 {
	margin: 19px;
	color: #149ddd;
	font-size: 25px;
	text-align: center;
}

.cont-icons p b {
	margin: 12px 12px 0 0;
	color: #fff;
}

.cont-icons a {
	text-decoration: none;
	color: #837c7c;

}

.cont-icons p {
	color: #837c7c;
}

.cont-col2 h2 {
	margin: 24px;
	text-align: center;
	color: #149ddd;
}

.copyright-sec {
	background-color: var(--bg-color1-);
	padding-left: 297px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color2-);
	text-align: center;
	padding: 22px;
	box-shadow: 0 0 8px gray;

}

.copyright-sec p {
	margin: 12px;

}

.copyright-sec p span {
	color: #149ddd;
}

/* end of contacct section */